/* Project Management
 * Group: Fahrenheit 451
 * Software Developers: Oskar Ciebien, Oisin Carrig
 */

/* All */
 * {
	margin: 0;
}

/* Body */
body {
	//background-color: #837C7B;
}
/* Body - Sign Up */
.bodySignUp {
	background-color: #c4b44d;
}

/* Carousel */
.caritem img {
    height: 800px !important;
    width: 100% !important;
	margin-top: 0px;
}

/* Navbar - Item Hover */
.nav-item a:hover {
	color: orange !important;
	border-bottom: 2px solid white;
	animation: fadeIn ease 0.5s;
}

/* Navbar - Sign In on Hover */
.signIn-onHover li:hover {
	visibility: visible;
}

/* Navbar - Home Text */
.navbar-home {
	margin-left: 15%;
}

/* Dropdown Hover menu */
.dropdown:hover .dropdown-menu {
  display: block;
  
}

/* Active Item */
.active-item a{
	border: 2px solid white;
	border-radius: 35px;
	
}

/* Active Item - Hover */
.active-item a:hover {
	color: orange !important;
	border-bottom: 2px solid white;
	animation: fadeIn ease 0.7s;
}

/* Avatar Hover */
.avatar a:hover {
	border: none;
	animation: none;
}
.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}
.dropdown-pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

/* Sign In Dropdown */
.signIn-dropdown {
	text-align: center;
	right: 0;
	left: 0;
    margin: auto;
}

/* Sign In Box */
.signInBox {
	padding: 10px;
}

/* Contact Form */
.contact-form {
	margin-top: 80px;
	width: 600px;
	background-color: #ededed;
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -300px;
	padding: 30px 30px;
	border-radius: 40px;
	text-align: center;
	border: 3px solid black;
}
/* Contact Form - H1 */
.contact-form h1 {
	color: #428bca;
	font-weight: normal;
	text-transform: uppercase;
}
/* Contact Form Text */
.contact-us-form-text {
	margin: 10px 0;
	padding: 20px 20px;
	border-radius: 10px;
	font-weight: bold;
}
/* Contact Form - Input */
.contact-us-form-text input	{
	text-align: center;
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 20px;
	margin-top: 10px;
}
/* Contact Form - TextArea */
.contact-us-form-text textarea {
	text-align: center;
	width: 100%;
	height: 55px;
	border: none;
	background: none;
	outline: none;
	font-size: 20px;
	margin-top: 10px;
	resize: none;
}
/* Contact Send Button */
.send-button {
	display: inline-block;
	background-color: white;
	padding: 10px 0px;
	color: black;
	font-weight: bolder;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 10px;
	width: 100%;
	border: 2px solid black;
	border-radius: 15px;
}

 /* Navbar Item onHover - Animation */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}