/* Project Management
 * Group: Fahrenheit 451
 * Software Developers: Oskar Ciebien, Oisin Carrig
 */

/* All */
 * {
	margin: 0;
}

/* Body */
body {
	background-color: #837C7B
}

/* Carousel */
.caritem img {
    height: 500px !important;
    width: 100% !important;
	margin-top: 30px;
}