/* Project Management
 * Group: Fahrenheit 451
 * Software Developers: Oskar Ciebien, Oisin Carrig
 */

/* All */
 * {
	margin: 0;
}

/* Body */
body {
	background-color: #837C7B
}

/* Carousel */
.caritem img {
    height: 800px !important;
    width: 100% !important;
	margin-top: 0px;
}

/* Navbar - Item Hover */
.nav-item a:hover {
	color: orange !important;
	border-bottom: 2px solid white;
	animation: fadeIn ease 1s;
}

/* Active Item */
.active-item a{
	border: 2px solid white;
	border-radius: 35px;
	
}

/* Active Item - Hover */
.active-item a:hover {
	color: orange !important;
	border-bottom: 2px solid white;
	animation: fadeIn ease 1s;
}

/* Avatar Hover */
.avatar a:hover {
	border: none;
	animation: none;
}
.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}
.dropdown-pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

/* Sign In Dropdown */
.signIn-dropdown {
	text-align: center;
	right: 0;
	left: 0;
    margin: auto;
}

/* Sign In Box */
.signInBox {
	padding: 10px;
}

 /* Navbar Item onHover - Animation */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}